# this is the password to notepane
PASSWORD=1234

POSTGRES_USER=postgres
# have a secure password!
POSTGRES_PASSWORD=pass
# either "process.env.DOCKER_ENV ? 'db' : 'localhost'" in development, but basically your pgdb's host ip
POSTGRES_HOSTNAME=db
POSTGRES_DB=notepanedb

# in seconds
BACKUP_INTERVAL=86400

# front facing url of notepane
ORIGIN=http://localhost:3000