services:
  website:
    build: .
    environment:
      DATABASE_URL: postgres://user:pass@db:5432/mydb
    ports:
      - '3000:3000'
  
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mydb
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
