services:
  website:
    build: .
    ports:
      - '3000:3000'
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
